@import '../abstracts/variables.sass'

html
  font-family: $regular-font
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  line-height: 1.5

*,
*:before,
*:after
  box-sizing: border-box
  margin: 0

.default
  min-height: 100%
  padding-bottom: 1.618em

img
  display: block
  max-width: 100%

a
  color: black
  text-decoration: none

a:hover 
  color: black 
  text-decoration: none
  cursor: pointer

button
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
