.paragraph
  margin: 1em 0

.main-header__wrapper
  display: flex
  justify-content: center
  padding: 0 1em 1em
  max-width: 600px
  margin: auto

.main-header
  text-align: center
  padding: 0.5em 0.618em 0.4em
  font-size: 1.414em

.main-header__underline
  display: block
  height: 2px
  width: 100%
  background: black
